from __future__ import unicode_literals

import dj_database_url

"""
Django settings for {{ app_name }} project.

For more information on this file, see
https://docs.djangoproject.com/en/1.7/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.7/ref/settings/
"""

#BASE_DIR = "{{ app.base_path }}/"

# SECURITY WARNING: keep the secret key used in production secret!
# Use bin/secret_key_generator.py to generate a SECRET_KEY
SECRET_KEY = '{{ django.settings.secret_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = {{ django.settings.debug }}
TEMPLATE_DEBUG = DEBUG
THUMBNAIL_DEBUG = False

SHUTDOWN_SITE = {{ django.settings.site_shutdown }}

VRAK_SETTINGS = {
	"base_url": "{{ django.settings.vrak.base_url }}",
	"head_url": "{{ django.settings.vrak.head_url }}",
	"head_url_mobile": "{{ django.settings.vrak.head_url_mobile }}",
	"header_url": "{{ django.settings.vrak.header_url }}",
	"footer_url": "{{ django.settings.vrak.footer_url }}",
	"site_id": "{{ django.settings.vrak.site_id }}",
	"selfie_datetime_available": "{{ django.settings.vrak.selfie_datetime_available }}",
}
EXTRA_CONTEXT = {
	"vrak_base_url": "{{ django.settings.extra_context.vrak_base_url }}",
}

ADMINS = {{ django.settings.admins }}

ALLOWED_HOSTS = {{ django.settings.allowed_hosts }}

# Mail settings
SERVER_EMAIL = '{{ django.settings.server_email }}'
DEFAULT_FROM_EMAIL = '{{ django.settings.default_from_email }}'
CONTACT_US_EMAIL = '{{ django.settings.contact_us_email }}'

EMAIL_BACKEND = '{{ django.settings.email.backend }}'
EMAIL_HOST = '{{ django.settings.email.host }}'
EMAIL_PORT = {{ django.settings.email.port }}
EMAIL_HOST_USER = '{{ django.settings.email.host_user }}'
EMAIL_HOST_PASSWORD = '{{ django.settings.email.host_password }}'
EMAIL_USE_TLS = "{{ django.settings.email.use_tls }}"

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases

DATABASES = {
	'default': dj_database_url.parse("{{ django.settings.db_url }}"),
}

# S3 Storage
DEFAULT_FILE_STORAGE = "{{ django.settings.aws.default_file_storage }}"

AWS_ACCESS_KEY_ID = "{{ django.settings.aws.access_key }}"
AWS_SECRET_ACCESS_KEY = "{{ django.settings.aws.secret_key }}"
AWS_STORAGE_BUCKET_NAME = "{{ django.settings.aws.bucket_name }}"

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = "{{ app.base_path }}/media/"

# URL that handles the media served from MEDIA_ROOT, used for managing stored files. It must end in a slash if set to a non-empty value.
# https://docs.djangoproject.com/en/1.6/ref/settings/#media-url
MEDIA_URL = '/media/'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = "{{ app.base_path }}/static/"

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.7/howto/static-files/
STATIC_URL = '/static/'

TEMPLATE_DIRS = (
	# Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
	# Always use forward slashes, even on Windows.
	# Don't forget to use absolute paths, not relative paths.
	"{{ app.base_path }}/{{ project_name }}/templates/",
)

LOCALE_PATHS = (
	"{{ app.base_path }}/locale/",
)

# Google analytics
GOOGLE_ANALYTICS_ACCOUNT = "{{ django.settings.google_account }}"

# Django Compress
COMPRESS_ENABLED = True
COMPRESS_REBUILD_TIMEOUT = 3600 # recompress every hour

LESSC_PATH = "{{ django.settings.lessc_path }}"

COMPRESS_PRECOMPILERS = (
	('text/less', str("{LESSC_PATH} {{ '{{' }}infile{{ '}}' }} {{ '{{' }}outfile{{ '}}' }}".format(LESSC_PATH=LESSC_PATH))),
)

# Memcached, if necessary
CACHES = {
	'default': {
		'BACKEND': '{{ django.settings.cache.backend }}',
		'LOCATION': '{{ django.settings.cache.location }}',
		'TIMEOUT': {{ django.settings.cache.timeout }},
	},
	'KEY_PREFIX': '{{ django.settings.cache.key_prefix }}',
}
