{% load thumbnail %}
{% load extra_gallery_tags %}

<p>{{ product.name }}</p>

{% if product.image %}
{% thumbnail product.image '250' as image %}
<p><img src="{{ image.url }}" alt="{{ product.name }}"></p>
{% endthumbnail %}
{% endif %}

{% if product.description %}<div>{{ product.description|safe }}</div>{% endif %}

{% show_gallery media=product.media.all %}
