{% load i18n %}
{% load static %}

<footer id="site-footer">
	{# main footer #}
	<section class="container">
		<div class="row">

			<aside class="col-sm-2 brand-infos">
				<nav class="social-links">
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-youtube"></i></a>
				</nav>
			</aside>

			<aside class="col-sm-10 no-padding">
				<div class="row">
				</div>
			</aside>
		</div>
	</section>
</footer>
