{% load staticfiles %}
{% load i18n %}
{% load compress %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
	<head>
		<!--
		DEBUG: {{ DEBUG }}
		HOSTNAME: {{ HOSTNAME }}
		NOW: {{ NOW }}
		-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

		<title>Boilerplate{% block pagetitle %}{% endblock pagetitle %}</title>
		<meta property="description" content="{% block page_description %}{% trans "page description" %}{% endblock page_description %}" />

		{# for extra meta #}
		{% block extra_head %}{% endblock extra_head %}

		{# share meta #}
		<meta property="og:title" content="{% block ogtitle %}{% endblock ogtitle %}Boilerplate">
		<meta property="og:site_name" content="Boilerplate">
		<meta property="og:locale" content="en_FR">
		<meta property="og:image" content="{% block ogimage %}{% static "images/share-image.jpg?v=1" %}{% endblock ogimage %}" />
		<meta property="og:description" content="{% block ogdescription %}{% trans "page description" %}{% endblock ogdescription %}" />

		{# fonts #}
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>

		{# main css #}
		{# <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen" />#}

		{% compress css %}
		<link rel="stylesheet" href="{% static 'css/main.less' %}" type="text/less" media="screen" />
		{% endcompress %}

		{% block extrastyle %}{% endblock extrastyle %}

		{# constants #}
		<script>
		var BASE_TITLE = "";
		var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
		var STATIC_URL = "{{ STATIC_URL }}";
		</script>
		{% block extrascripts %}{% endblock extrascripts %}
		{# ========= END SCRIPTS ========= #}

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body class="{{ LANGUAGE_CODE }} {% block bodyclass %}{% endblock bodyclass %}">

		<main id="main" role='main'>

			{% include "page-elements/_site-header.html" %}

			{% include "page-elements/_main-nav.html" %}


			{% block content %}{% endblock content %}

		</main>

		{# site footer #}
		{% include "page-elements/_site-footer.html" %}

	{# google #}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ GOOGLE_ANALYTICS_ACCOUNT }}', 'auto');
		ga('send', 'pageview');
	</script>


	{# scripts #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	{% compress js %}

	{# modernizr #}

	{# jquery plugins #}

	{# components js #}

	{# modules js #}

	{# sections #}

	{# main call #}
	<script src="{% static 'js/main.js' %}"></script>

	{% endcompress %}

	{% block footerscript %}{% endblock footerscript %}
	{# end scripts #}
	</body>

</html>
